[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CAinterprTools"]
	path = CAinterprTools
	url = https://github.com/cran/CAinterprTools
[submodule "boxplotcluster"]
	path = boxplotcluster
	url = https://github.com/cran/boxplotcluster
[submodule "brsim"]
	path = brsim
	url = https://github.com/cran/brsim
[submodule "caplot"]
	path = caplot
	url = https://github.com/cran/caplot
[submodule "caresid"]
	path = caresid
	url = https://github.com/cran/caresid
[submodule "chisquare"]
	path = chisquare
	url = https://github.com/cran/chisquare
[submodule "landform"]
	path = landform
	url = https://github.com/cran/landform
[submodule "movecost"]
	path = movecost
	url = https://github.com/cran/movecost
